---
layout: default
---

<div class="home">

  <div>
    <h2>Welcome</h2>
    <p>Hi, I'm Todd and welcome to my site.</p>
        <p>Yes, this site is plan. This is by design. We have enough unnecessary complexity in the world. I prefer simplicity, minimalism and functionality.</p>
        <p>This site is home to my personal library of tech resources and projects. There is also a blog, where I occasionally let my mind wander of philosophical ramblings.
    </p>
  </div>
  <br>

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-list">
    {% for post in paginator.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li{% if lang != empty %} lang="{{ lang }}"{% endif %}>
        <header class="post-header">
              {% if page.external-url %}
      <h2 class="post-title" itemprop="name headline"><a href="{{ page.external-url }}">{{ page.title | escape }} &rarr;</a></h2>
    {% else %}
      <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
    {% endif %}

          <p class="post-meta">
            {{ post.date | date: "%b, %Y" }}
            {% if post.categories != empty or post.tags != empty %}
              {% include category_links.html categories=post.categories tags=post.tags %}
            {% endif %}
          </p>
        </header>

        <div class="post-content">
          {{ post.excerpt }}
        </div>
        {% if post.content contains site.excerpt_separator %}
          <p class="post-continue">
            <a href="{{ post.url | relative_url }}">Read more &rarr;</a>
          </p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  {% include pagination.html %}

</div>
