---
layout: null
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]--> 

{% include resume-head.html %}
{% include resume-header.html %}

<body>
    <div class="wrapper">
        <div class="sidebar-wrapper">
            <div class="profile-container">
                <img class="profile" src="../assets/images/real-profile-small.png" alt="" />
                <h1 class="name">{{ site.author }}</h1>
                <!-- <h3 class="tagline"> {{ site.position }}</h3> -->
            </div><!--//profile-container-->
            
            <div class="contact-container container-block">
                <ul class="list-unstyled contact-list">
                    <li class="email"><i class="fa fa-envelope"></i><a href="mailto: {{ site.email }}">{{ site.email }}</a></li>
                    <li class="phone"><i class="fa fa-phone"></i><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
                    <!-- <li class="website"><i class="fa fa-globe"></i><a href="http://themes.3rdwavemedia.com/website-templates/free-responsive-website-template-for-developers/" target="_blank">portfoliosite.com</a></li> -->
                    <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://linkedin.com/in/{{ site.linkedin_username }}" target="_blank">linkedin.com/{{ site.linkedin_username }}</a></li>
                    <li class="github"><i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" target="_blank">github.com/{{ site.github_username }}</a></li>
                    <!-- <li class="twitter"><i class="fa fa-twitter"></i><a href="https://twitter.com/3rdwave_themes" target="_blank">{{ site.twitter_username }}</a></li> -->
                </ul>
            </div><!--//contact-container-->
            <div class="education-container container-block">
                <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">Msc in Data Science</h4>
                    <h5 class="meta">University of Southern Queensland</h5>
                    <div class="time">2018 - ongoing</div>
                </div><!--//item-->
                <div class="item">
                    <h4 class="degree">GDip in Chartered Accounting</h4>
                    <h5 class="meta">Institute of Chartered Accountants Australia</h5>
                    <div class="time">2009 - 2010</div>
                </div><!--//item-->

                <div class="item">
                    <h4 class="degree">BCom in Accounting & Business Management</h4>
                    <h5 class="meta">University of Tasmania</h5>
                    <div class="time">2005 - 2008</div>
                </div><!--//item-->
            </div><!--//education-container-->

            <!-- INSERT CERTIFICATIONS HERE -->
            
            <div class="languages-container container-block">
                <h2 class="container-block-title">Languages</h2>
                <ul class="list-unstyled interests-list">
                    <li>English <span class="lang-desc">(Native)</span></li>
                    <li>French <span class="lang-desc">(B2 Intermediate)</span></li>
                </ul>
            </div><!--//interests-->
            
            <!-- INSERT INTERESTS HERE -->
            
        </div> <!--//sidebar-wrapper-->
        
        <div class="main-wrapper">
            
            <section class="section summary-section">
                <h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
                <div class="summary">
                    <p>Data scientist with 10+ years of data science, accounting and business growth experience. Proficient knowledge in statistics, accounting, finance, analytics, and machine learning. Excellent understanding of business operations and how to leverage data to increase profit, reduce costs and deliver value.</p>
                </div><!--//summary-->
            </section><!--//section-->
            
            <section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Independent Data Scientist</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Qualis Data, Australia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Helping start-ups and small-to-medium sized businesses leverage their data assets to increase profit, reduce costs and drive value through periodic or ad-hoc analytics, development of machine learning models and delivery of high ROI data projects of all shapes and sizes.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Senior Product Manager</h3>
                            <div class="time">2013 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">MyWorkpapers, London & Australia</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Senior member of the company, responsible for development and implementation of the company's product strategy. Lead a team responsible for the creation of a market leading accounting software solution, with annual sales in excess of 7 figures.</p>  
                        <p>Achievements during my tenure include:
                            <ul>                        
                                <li>Instrumental senior team member, assisting in the growth of the company from 3 to 20+ employees</li>
                                
                                <li>Conducted detailed customer pricing analysis and development of revised pricing model which delivered an on average 15% increase in revenue per client</li>

                                <li>Conducted customer churn analysis of clients at risk of non-renewal, leading to a 2% decrease in customer churn</li>

                                <li>Initiated and nurtured strategic relationship with billion-euro European distribution partner</li>

                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Audit Manager</h3>
                            <div class="time">2005 - 2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Crowe Horwath, Launceston</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Rapidly progressed from a graduate accountant to a senior member of the audit & assurance team, delivering both internal and external audit services to a range of not-for-profit and for-profit organisations.</p>  
                        <p>Achievements during my tenure include:
                            <ul>
                                <li>Progressed from graduate accountant to manager in under five years</li>
                                
                                <li>Instrumental in growing the audit division annual sales by over 30%</li>
                                
                                <li>Delivered excellent client satisfaction, with client retention of over 95%</li>

                                <li>On average, delivered over 85% of all  engagements within or under budget</li>
                            </ul>
                        </p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->          

            <!-- SKILLS -->
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Accounting & Finance</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%" style="width: 100%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Business Strategy</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%" style="width: 80%;">
                            </div>                                      
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Data Analysis</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%" style="width: 75%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Data Modelling & Mining</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%" style="width: 70%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Data Visualisation</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%" style="width: 65%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->                                                     

                    
                    <div class="item">
                        <h3 class="level-title">Machine Learning</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="45%" style="width: 45%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                                    
                </div>  
            </section><!--//skills-section-->


            <!-- TECHNOLOGIES -->
            <section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-cubes"></i>Technologies</h2>
                <div class="skillset">        
                    <div class="item">
                        <h3 class="level-title">Microsoft Excel</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="100%" style="width: 100%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Tableau</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%" style="width: 80%;">
                            </div>                                      
                        </div><!--//level-bar-->
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="65%" style="width: 65%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Python</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%" style="width: 50%;">
                            </div>                                      
                        </div><!--//level-bar-->                                 
                    </div><!--//item-->
                                                     
                </div>  
            </section><!--//skills-section-->

            <!-- DATA PROJECTS -->
           <section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Data Projects</h2>
                <div class="intro">
<!--                     <p>A s can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p> -->
                </div><!--//intro-->
                <b><h7>Data Analysis</h7></b>
                <div class="item">
                    <span class="project-title"><a href="">Pricing Analysis</a></span>
                    <p>
                        <span class="project-tagline">Detailed customer pricing analysis and development of revised pricing model to maximise per client revenue. Resulted in an average increase in per client revenue of 15%. 
                        Technologies stack: Microsoft Excel, SQL
                        </span>
                    </p>
                </div><!--//item-->


                <div class="item">
                    <span class="project-title"><a href="">Customer Churn Model</a></span>
                    <p>
                        <span class="project-tagline">Customer churn analysis and modelling to identify customers at high risk of non-renewal. Resulted in a reduction of customer churn of 2% on prior year. 
                        Technologies stack: Microsoft Excel, SQL
                        </span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="">Interactive KPI Dashboard</a></span>
                    <p>
                        <span class="project-tagline">Development of an interactive KPI dashboard for senior management to monitor organisational performance.
                        Technologies used: Tableau, SQL 
                        </span>
                    </p>
                </div><!--//item-->

                <b><h7>Programming</h7></b>
                <div class="item">
                    <span class="project-title"><a href="">Web Scraper</a></span>
                    <p>
                        <span class="project-tagline">Development of a web scraper to automatically download bulk data from third-party and competitor websites for use in data projects (competitive analysis, pricing projects) 
                        Technologies used: Python and associated libraries 
                        </span>
                    </p>
                </div><!--//item-->


                <b><h7>Machine & Deep Learning</h7></b>
                <div class="item">
                    <span class="project-title"><a href="">Diabetes Prediction Model</a></span>
                    <p>
                        <span class="project-tagline">Development of machine learning model to predict diabetes in patients with a 79.5% accuracy result. 
                        Technologies used: RapidMiner
                        </span>
                    </p>
                </div><!--//item-->

                <div class="item">
                    <span class="project-title"><a href="">Loan Default Deep Learning Model</a></span>
                    <p>
                        <span class="project-tagline">Development of deep learning model to predict loan defaults of customers (ongoing project).
                        Technologies used: Python,  Keras, TensorFlow
                        </span>
                    </p>
                </div><!--//item-->
            </section><!--//section-->
            


            <section class="section experiences-section achivements-section">
                <h2 class="section-title"><i class="fa fa-trophy"></i>Achivements</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">7.0 GPA</h3>
                            <div class="time">2018</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Southern Queensland</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Achieved a perfect grade point average of 7.0 out of 7.0 across all subjects in semester 1, 2018</p>  
                    </div><!--//details-->
                </div><!--//item--> 


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Candidate of the Year</h3>
                            <div class="time">2011</div>
                        </div><!--//upper-row-->
                        <div class="company">Chartered Accountants Australia & New Zealand</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Awarded for achieving the highest average score across all subjects in Tasmania</p>  
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Candidate of the Module, Audit & Assurance</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Chartered Accountants Australia & New Zealand</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Awarded for achieving the highest score for the subject in Tasmania</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Certificate of Merit</h3>
                            <div class="time">2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Chartered Accountants Australia & New Zealand</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Awarded for achieving scores in the top 5% in Australia</p>  
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Deans Honour Role</h3>
                            <div class="time">2005</div>
                        </div><!--//upper-row-->
                        <div class="company">University of Tasmania</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Awarded for receiving scores in the 110 students in Tasmania</p>  
                    </div><!--//details-->
                </div><!--//item-->                
                
            </section><!--//section-->
            
        </div><!--//main-body-->
    </div>           
</body>


{% include resume-footer.html %}

</html> 

